body {
    background-color:#303E48;
    
}
#portfolioimage {
    max-width: 350px;
    max-height: 350px;
    padding: 6%;
 
}

.container {
background-color: #96A3AE;
}

a:visited {
    color:black;
}
footer {
    height: 6vh;
    background-color:#C4B000;
}

nav {
    height: 6vh;
    background-color:#C4B000;
}
